body {
	padding-top: 40px;
	background-color: #f5f5f5;
}

#area {
	padding-top: 10px;
	background-color: white;
}


#orderConfirmationTable th {
	color: rgb(100,100,100);
}

/* Class for buttons in forms which will do requests */
.buttonForm {
	padding: 0px;
	margin: 0px;
}

/* Used for td-cells with header-like content */
.data-header {
	font-weight: bolder;
}

/* Font style for  */
.timeLimitOver {
	color: #AAAAAA;
	font-style: italic;
}

/*For admin's order listing*/
th.tablesorter-header {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center right;
	padding-left: 10px;
	border-right: 1px solid #BEBEBE;
}

th.tablesorter-headerDesc {
	background-image: url(arrows/desc.gif);
}

th.tablesorter-headerAsc {
	background-image: url(arrows/asc.gif);
}
