table {
	border-collapse: separate;
}

body {
	padding-top: 40px;
	background-color: #f5f5f5;
}

#area {
	padding-top: 10px;
	background-color: white;
}

/* Class for buttons in forms which will do requests */
.buttonForm {
	padding: 0px;
	margin: 0px;
}

/* Used for td-cells with header-like content */
.data-header {
	font-weight: bolder;
	color: rgb(100,100,100);
}

.thead-header {
	font-size: 20px;
	font-weight: 700;
}

/* Font style for  */
.timeLimitOver {
	color: #AAAAAA;
	font-style: italic;
}

/*For admin's order listing*/
th.sorting {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center right;
	padding-left: 10px;
	padding-right: 10px;
}

th.sorting_desc {
	cursor: pointer;
	background-image: url(arrows/desc.gif);
	background-repeat: no-repeat;
	background-position: center right;
	padding-left: 10px;
	background-color: rgba(0,0,0,.03);
}

th.sorting_asc {
	cursor: pointer;
	background-image: url(arrows/asc.gif);
	background-repeat: no-repeat;
	background-position: center right;
	padding-left: 10px;
	background-color: rgba(0,0,0,.03);
}

td.userOrders {
	float: center;
	text-align: center;
	cursor: pointer;
}